name: Deploy to Firebase Hosting (optional)

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_APPSCOPE_SAAS != '' }}
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_APPSCOPE_SAAS }}
          projectId: appscope-saas
          channelId: live
